body {
  margin: 0px;
  padding: 0px;
}

#topnav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

textarea {
  resize: none;
}

.baemin_topnav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: baemin_font;
  src: url("../source/BMHANNAPro.ttf");
}

.w3-baemint {
  background-color: #45c1bf !important;
  color: white !important;
}

@font-face {
  font-family: "baemin_font";
  src: url("./BMHANNAPro.ttf");
}

.sw-center {
  width: 100%;
  /* topnav 높이만큼 마진탑 */
  /* margin-top: 70px; */
}

.no_line_textarea {
  border: none;
  width: 100%;
  background: none;
  resize: none;
}

.sw-container-1200 {
  max-width: 1200px;
  margin: auto;
}

.sw-container-1100 {
  max-width: 1100px;
  margin: auto;
}

.sw-container-1000 {
  max-width: 1000px;
  margin: auto;
}

.sw-container-900 {
  max-width: 900px;
  margin: auto;
}

.sw-container-800 {
  max-width: 800px;
  margin: auto;
}

.sw-container-700 {
  max-width: 700px;
  margin: auto;
}

.sw-container-600 {
  max-width: 600px;
  margin: auto;
}

.sw-container-500 {
  max-width: 500px;
  margin: auto;
}

.sw-container-400 {
  max-width: 400px;
  margin: auto;
}

.sw-topnav-margin {
  height: 65px;
  /* background: cyan; */
}

.sw-floatbutton {
  position: fixed;
  transition: 0.4ms;
}

.sw-right-bottom {
  right: 15px;
  bottom: 15px;
}

.sw-left-bottom {
  left: 15px;
  bottom: 15px;
}

.sw-left-top {
  left: 10px;
  top: 15px;
}

.sw-right-top {
  right: 15px;
  top: 15px;
}

.h100 {
  height: 100px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  top: 0;
  /* Full width */
  width: 100%;
}

/* Add a black background color to the top navigation */
.bottomnav {
  background-color: #333;
  overflow: hidden;
  /* Set the navbar to fixed position */
  position: fixed;
  /* Position the navbar at the top of the page */
  bottom: 0;
  /* Full width */
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a,
.topnav div,
.bottomnav a,
.bottomnav div {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover,
.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active,
.topnav div.active,
.bottomnav a.active,
.bottomnav div.active {
  background-color: #45c1bf;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon,
.bottomnav .icon {
  display: none;
}

.star-rating {
  width: 304px;
}

.star-rating,
.star-rating span {
  display: inline-block;
  height: 55px;
  overflow: hidden;
  background: url(../source/img/star.png) no-repeat;
}

.star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  .sw-container {
    max-width: none;
    /* width: 100%; */
  }
  .topnav a:not (:first-child ) {
    display: none;
  }
  .topnav div:not (:first-child ) {
    display: none;
  }
  .bottomnav a:not (:last-child ) {
    display: none;
  }
  .bottomnav div:not (:last-child ) {
    display: none;
  }
  .topnav a.icon,
  .topnav div.icon,
  .bottomnav a.icon,
  .bottomnav div.icon {
    float: right;
    display: block;
  }
  .topnav.responsive,
  .bottomnav.responsive {
    position: fixed;
  }
  .topnav.responsive a.icon,
  .topnav.responsive div.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .bottomnav.responsive a.icon,
  .bottomnav.responsive div.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .topnav.responsive a,
  .topnav.responsive div,
  .bottomnav.responsive a,
  .bottomnav.responsive div {
    float: none;
    display: block;
    text-align: left;
  }
}
